<form (ngSubmit)="onSubmit(titleInput.value,requestText.value)" #form>
  <p>
    <app-control label="Title">
      <input name="title" id="title" #titleInput/>
    </app-control>
  </p>
  <p>
    <app-control label="Request"> <!--<app-control label="Request" #appControl> here instance of component will store inside app template variable instead of DOM element.-->
      <textarea name="request" id="request" rows="3" #requestText></textarea>
    </app-control>
  </p>
  <p>
    <button appButton>
        Submit 
        <span ngProjectAs="icon">⌲</span>
    </button>
  </p>
</form>